@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);



body{
   font-family: 'Roboto Condensed';
   font-style: normal;
}

.wrapper {
   overflow: hidden;
   display: block;
   margin: 0 auto;
   max-width: 1440px;
}

.header {
   background-color: #323232 ;
   min-height: 60px;
}

@media screen and (max-width:414px) {
   .header{
     min-height: max-content;
   }
}

.header__conteiner {
   position: relative;
   margin: 0 auto;
   max-width: 940px;
}
.header__logo {
   display: inline-block;
   max-width: 130px;
   height: 40px;
   padding: 15px 31px 5px 28px;
   background: url('../img/header/logo.svg') 0 17px  no-repeat;
   background-size: 18px 22px;
   font-weight: 400;
   font-size: 24px;
   line-height: 20px;
   text-transform: uppercase;
   color: #EDEDED;
   transition: 0.7s;
}

.header__logo:hover{
   background: url('../img/header/logo.svg') 0 10px  no-repeat;
   background-size: 18px 22px;
   text-decoration: none;
}

@media screen and (max-width:580px) {
   .header__logo{
      display: none;
      transition: 1s;
   }
}

.span-stone:hover{
   text-shadow: 0 0 10px #C7AA8B;
   transition: 0.7s;
   color: #C7AA8B;
}

.header__menu{
   display: inline-block;
   max-width: max-content;
}

@media screen and (max-width:414px) {
   .header__menu{
      display: block;
      width: 400px;
      margin: 0 auto;
   }
}

.item{
   display: inline-block;
   padding: 20px 30px;
   text-transform: uppercase;
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
   color: #EDEDED;
   transition: 1s;
   
}

@media screen and (max-width:596px) {
   .item{
      padding: 20px 50px;
      transition: 1s;
   }
}

@media screen and (max-width:580px) {
   .item{
      padding: 20px 70px;
      transition: 1s;
   }
}

@media screen and (max-width:414px) {
   .item{
      padding: 20px 40px;
   }
}

.item:hover{
   background-color: black;
   color: #C7AA8B;
   box-shadow: 0 0 5px #C7AA8B;
   transition: 0.5s;
}
.item:active{
   box-shadow: 0 0 15px #C7AA8B;
   transition: 0.5s;
}

.header__social {
   position: absolute;
   right: 0;
   margin-left: auto;
   display: inline-block;
}

@media screen and (max-width:596px) {
   .header__social {
      position: absolute;
      right: 0;
      margin-left: auto;
      display: none;
   }
}

.item-FB{
   background: url('../img/header/FB-blue.svg') no-repeat;
   background-position: 50% 50%;
   color: rgba(245, 245, 220, 0);
}

.item-FB:hover {
   background: black url('../img/header/FB.svg') no-repeat;
   box-shadow: 0 0 5px #507ad4;
   background-position: 50% 50%;
   color: rgba(245, 245, 220, 0);
}

.item-FB:active{
   box-shadow: 0 0 15px #507ad4;
}
.item-twit {
   background: 
   url('../img/header/twit-blue.svg') no-repeat;
   background-position: 50% 50%;
   color: rgba(245, 245, 220, 0);
}



.item-twit:hover {
   background: black url('../img/header/twit.svg') no-repeat;
   box-shadow: 0 0 5px #00ACEE;
   background-position: 50% 50%;
   color: rgba(245, 245, 220, 0);
}

.item-twit:active{
   box-shadow: 0 0 15px #00ACEE;
}

.main {
}
.main__conteiner {
}
.we {
   min-height: 497px;
   padding-top: 69px;
   background: url('../img/main/we/WE-backgraund.jpg') no-repeat;
}

@media screen and (max-width:414px) {
   .we {
      padding-top: 30px;
   }
}

.we__text {
   max-width: 640px ;
   margin: 0 auto;

}
.h1-we {
   margin-bottom: 36px;
   font-weight: 400;
   font-size: 78px;
   line-height: 66px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
}
.p-we {
   margin-bottom: 50px;
   font-family: 'Vollkorn';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 20px;
   text-align: center;
   color: rgba(255, 255, 255, 0.81);
}

@media screen and (max-width:414px) {
   .p-we {
      margin-bottom: 30px;
   }
}

.p-we::before{
   content: "";
   margin: 0 auto;
   margin-bottom: 18px;
   display: block;
   width: 60px;
   height: 2px;
   background-color: #FFFFFF;
}

.we__button{
   margin: 0 auto;
   max-width: 150px;
}

.button {
   display: block;
   text-align: center;
   padding: 10px 17px;
   background: rgba(77, 77, 77, 0.2);
   color: aliceblue;
   border: 2px solid #FFFFFF;
   text-transform: uppercase;
   transition: 1s;
}

.button:hover{
   background: rgb(77, 77, 77);
   box-shadow: 0 0 10px white;
   transition: 1s;
}

   .button:active {
      box-shadow: 0 0 30px rgb(255, 255, 255);
      transition: 1s;
   }

/* ========================================== */

.cards{
   padding-top: 80px;
   padding-bottom: 80px;
   background-color:#C7AA8B;
   transition: 1s;
}



@media screen and (max-width:1280px){
   .cards{
      padding-top: 60px;
      padding-bottom: 60px ;
      transition: 1s;
   }
}


@media screen and (max-width:414px){
   .cards{
      padding-top: 10px;
      padding-bottom: 10px ;
      transition: 1s;
   }
}

.block {
   margin: 0 auto;
   width: max-content;
   
}

@media screen and (max-width:890px){
   .block {
      margin: 0 auto;
      width: max-content;
   }
}

.block__section{
   display: inline-block;
   width:300px;
}

@media screen and (max-width:890px){
   .block__section{
      display: inline-block;
      width:270px;
      transition: 1s;
   }
}

@media screen and (max-width:840px){
   .block__section{
      display: inline-block;
      width:240px;
      transition: 1s;
   }
}

@media screen and (max-width:730px){
   .block__section{
      display: inline-block;
      width:240px;
      transition: 1s;
   }
}

@media screen and (max-width:730px){
   .block__section{
      display: inline-block;
      width:210px;
      transition: 1s;
   }
}


@media screen and (max-width:650px){
   .block__section{
      display: inline-block;
      width:180px;
      transition: 1s;
   }

}

@media screen and (max-width:414px){
   .block__section{
      display:block;
      margin: 0 auto;
      padding: 5px;
      width: 380px;
      transition: 1s;
      box-shadow: 0 0 10px #aa9177;
      margin-bottom: 5px;
   }
}

.block div:last-child{
   margin-bottom: 0;
}


.span-001 {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: rgba(50, 50, 50, 0.09);
}

.span-001::after{
   content: "";
   display: block;
   width: 268px;
   height: 1px;
   background: #32323221;
   margin-bottom: 22px;
}

@media screen and (max-width:840px){
   .span-001::after{
      content: "";
      display: block;
      width: 218px;
     
   }
}

@media screen and (max-width:730px){
   .span-001::after{
      content: "";
      display: block;
      width: 200px;
     
   }
}

@media screen and (max-width:650px){
   .span-001::after{
      content: "";
      display: block;
      width: 170px;
     
   }
}

@media screen and (max-width:414px){
   .span-001::after{
      content: "";
      display: block;
      width: 370px;
     
   }
}

.h2 {
   font-weight: 400;
   font-size: 20px;
   line-height: 20px;
   text-align: center;
   text-transform: uppercase;
   color: #4D4D4D;
   margin-bottom: 23px;
}
.picture-block{
   height: 70px;
   display: block;
   margin: 0 auto;
   margin-bottom: 30px;
}

.p-light {
   max-width: 287px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   color: #4D4D4D;
}

@media screen and (max-width:650px){
   .p-light {
      max-width: 650px;
   }
}

.box-text {
   background: url('../img/main/text-box/backgraund.jpg');
   padding-top:127px;
   padding-bottom: 127px;
}

@media screen and (max-width:414px){
   .box-text {
      padding-top:30px;
      padding-bottom: 30px;
   }
}

.box-text__conteiner {
   margin: 0 auto;
   max-width: 940px;
   padding: 5px;
}
.p-box-text {
   font-weight: 400;
   font-size: 47px;
   line-height: 55px;
   color: #C7AA8B;
}

.p-box-text::after{
   content: "";
   display: block;
   width: 60px;
   height: 2px;
   background:#C7AA8B;
   margin-top: 22px;
}

/* ======================================= */

.team {
   padding-top: 80px;
   padding-bottom: 80px;
}

@media screen and (max-width:414px){
   .team {
      padding-top: 10px;
      padding-bottom: 10px;
   }
}

.team__conteiner {
   position: relative;
   margin: 0 auto;
   max-width: 960px;
   
}

@media screen and (max-width:414px){
   .team__conteiner {
      max-width: max-content;
      box-shadow: 0 0 10px #aa9177;
      padding: 5px;
   }
}

.team__conteiner:nth-of-type(1):before{
   content: "THE TEAM";
   position: absolute;
   top: 0;
   left: 0;
   display: inline-block;
   font-weight: 400;
   font-size: 30px;
   text-transform: uppercase;
   color: #4D4D4D;
}

@media screen and (max-width:414px){
   .team__conteiner:nth-of-type(1):before{
      position: static;
      display: block;
   }
}

.team__card {
   margin-left: 250px;
   display: inline-block;
   margin-right: 20px;
   
}

@media screen and (max-width:414px){
   .team__card {
      margin-left: 0;
      margin-right: 5px;
      max-width: max-content;
      display:inline-block;
   }
}

.margin-left-none{
   margin-left: 0px;
}

@media screen and (max-width:414px){
   .margin-left-none {
      margin-left: 0;
      width: 220px;
      display: inline-block;
     
   }
}


.team__conteiner div:last-of-type{
   margin-right: 0;
}

@media screen and (max-width:414px){
   .team__conteiner div:last-of-type{
      display: inline-block;
   }
}

.info-card {
   
}

@media screen and (max-width:414px){
   .info-card {
     max-width: max-content;
   }
}

.picture-card {
   margin-bottom: 10px;
}

@media screen and (max-width:414px){
   .picture-card {
     width: 120px;
   }
}


.name-card {
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #4D4D4D;
}
.position-card {
   font-family: 'Vollkorn';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 20px;
   color: #4D4D4D;
   margin-bottom: 12px;
}

.social-card {
   width: 100%;
   display: inline-block;
}

.team-item-FB {
   display: inline-block;
   background: url('../img/main/team/social/fb.svg') no-repeat;
   background-size: 17px 17px;
   width: 17px;
   height: 17px;
   transition: 1s;
}

.team-item-FB:hover{
   background: url('../img/main/team/social/fb-blue.svg');
   transition: 0.5s;
}

.team-item-twit {
   display: inline-block;
   background: url('../img/main/team/social/twit.svg') no-repeat;
   background-size: 18x 15px;
   width: 18px;
   height: 14.65px;
   margin-left: 10px;
   transition: 1s;
}

.team-item-twit:hover{
background: url('../img/main/team/social/twit-blue.svg');
transition: 0.5s;
}

.team-item-in {
   display: inline-block;
   background: url('../img/main/team/social/in.svg') no-repeat;
   background-size: 17px 17px;
   width: 17px;
   height: 17px;
   margin-left: 10px;
   transition: 1s;
}

.team-item-in:hover{
   background: url('../img/main/team/social/in-blue.svg');
   transition: 0.5s;
}

.team-item-be {
   display: inline-block;
   background: url('../img/main/team/social/be.svg') no-repeat;
   background-size: 17px 17px;
   width: 17px;
   height: 17px;
   margin-left: 10px;
   transition: 1s;
}

.team-item-be:hover{
   background: url('../img/main/team/social/be-color.svg') no-repeat;
   background-size: 17px 17px;
   width: 17px;
   height: 17px;
   transition: 0.5s;
}

.team-item-bascket {
   display: inline-block;
   background: url('../img/main/team/social/bascket.svg') no-repeat;
   background-size: 17px 17px;
   width: 17px;
   height: 17px;
   margin-left: 10px;
   transition: 1s;
}

.team-item-bascket:hover{
   background: url('../img/main/team/social/bascket-color.svg') no-repeat;
   transition: 0.5s;
}

.team-item-inst {
   display: inline-block;
   background: url('../img/main/team/social/instagram.svg') no-repeat;
   background-size: 17px 17px;
   width: 17px;
   height: 17px;
   margin-left: 10px;
   transition: 1s;
}

.team-item-inst:hover{
   background: url('../img/main/team/social/instagram-color.svg') no-repeat;
   transition: 0.5s;
}

/* ===================================================================== */

.testimonials {
   padding: 80px 200px;
   background: #F7F7F7;
}


@media screen and (max-width:414px){
   .testimonials{
      padding: 0;
      
   }
}

.testimonials__conteiner {
   margin: 0 auto;
   max-width:max-content;
}

@media screen and (max-width:414px){
   .testimonials__conteiner{
      padding: 5px;
      max-width: 400px;

   }
}

.h2-testimonials {
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
   text-align: center;
   text-transform: uppercase;
   color: rgba(50, 50, 50, 0.36);
}

.h2-testimonials::after{
   content: "";
   display: block;
   margin: 0 auto;
   width: 60px;
   height: 2px;
   background:#3232322E;
   margin-top: 16px;
   margin-bottom: 42px;
}

@media screen and (max-width:414px){
   .h2-testimonials::after{
      margin-top: 2px;
      margin-bottom: 8px;
   }
}

.testimonials__text {
   display: inline-block;
   text-align: center;
   max-width: 420px;
   min-height: 118px;
}


@media screen and (max-width:414px){
   .testimonials__text{
    padding: 5px;
    box-shadow: 0 0 10px #aa9177;
    margin-bottom: 5px;
   }
}

.p-testimonials {
   font-family: 'Vollkorn';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 20px;
   color: #4D4D4D;
   margin-bottom: 20px;
}

@media screen and (max-width:414px){
   .p-testimonials{
      margin-bottom: 10px;
   }
}

.margin-left{
   margin-left: 60px;
}

@media screen and (max-width:414px){
   .margin-left{
      margin-left: 0;
   }
}

.h3-testimonials {
   font-weight: 400;
   font-size: 13px;
   line-height: 20px;
   text-align: center;
   text-transform: uppercase;
   color: #C7AA8B;
}

/* =================================================================== */


.footer {
   background-color: #323232;
   padding: 54px 0 54px 0;
}

@media screen and (max-width:414px){
   .footer {
      padding: 10px 0 10px 0;
   }
}

.footer__conteiner {
  margin: 0 auto;
  max-width: max-content;
}


.box-info-footer{
   display: inline-block;
   background: url('../img/footer/white-logo.svg')10px 8px no-repeat;
   background-size: 18px 22px;
   transition: 2s;
}

.box-info-footer{
   background: url('../img/footer/white-logo.svg')400px 8px no-repeat;
}

.footer__agency {
   margin-left: 38px;
   font-weight: 400;
   font-size: 14px;
   color: #858585;
}

@media screen and (max-width:414px){
   .footer__agency{
      margin-left: 0px;
      display: none;
   }
}

.footer__button {
   background-color: #323232;
   display: inline-block;
   margin:0 46px 0 36px;
}

@media screen and (max-width:414px){
   .footer__button {
      display: block;
      margin:0;
   }
}
.button-footer {
   max-width: 300px;
   color: #C7AA8B;
   border: 2px solid #C7AA8B;
}


.footer__adress {
font-weight: 400;
font-size: 13px;
text-align: right;
color: #858585;
}

@media screen and (max-width:414px){
   .footer__adress{
      display: none;
   }
}